In [2]:
import numpy as np
import pandas as pd

In [3]:
text_left_up = pd.read_csv("data/train-left-up.csv")
text_left_down = pd.read_csv("data/train-left-down.csv")
text_right_up = pd.read_csv("data/train-right-up.csv")
text_right_down = pd.read_csv("data/train-right-down.csv")

In [4]:
text_left_up.head()

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"

In [5]:
text_left_down.head()

   PassengerId  Survived  Pclass                                         Name
0          440         0       2       Kvillner, Mr. Johan Henrik Johannesson
1          441         1       2  Hart, Mrs. Benjamin (Esther Ada Bloomfield)
2          442         0       3                              Hampe, Mr. Leon
3          443         0       3                    Petterson, Mr. Johan Emil
4          444         1       2                    Reynaldo, Ms. Encarnacion

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
text_left_up

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"
5,6,0,3,"Moran, Mr. James"
6,7,0,1,"McCarthy, Mr. Timothy J"
7,8,0,3,"Palsson, Master. Gosta Leonard"
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)"
10,11,1,3,"Sandstrom, Miss. Marguerite Rut"
11,12,1,1,"Bonnell, Miss. Elizabeth"
12,13,0,3,"Saundercock, Mr. William Henry"
13,14,0,3,"Andersson, Mr. Anders Johan"
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina"
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)"
16,17,0,3,"Rice, Master. Eugene"
17,18,1,2,"Williams, Mr. Charles Eugene"
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande..."
19,20,1,3,"Masselmani, Mrs. Fatima"
20,21,0,2,"Fynney, Mr. Joseph J"
21,22,1,2,"Beesley, Mr. Lawrence"
22,23,1,3,"McGowan, Miss. Anna ""Annie"""
23,24,1,1,"Sloper, Mr. William Thompson"
24,25,0,3,"Palsson, Miss. Torborg Danira"
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia..."
26,27,0,3,"Emir, Mr. Farred Chehab"
27,28,0,1,"Fortune, Mr. Charles Alexander"
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie"""
29,30,0,3,"Todoroff, Mr. Lalio"
30,31,0,1,"Uruchurtu, Don. Manuel E"
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)"
32,33,1,3,"Glynn, Miss. Mary Agatha"
33,34,0,2,"Wheadon, Mr. Edward H"
34,35,0,1,"Meyer, Mr. Edgar Joseph"
35,36,0,1,"Holverson, Mr. Alexander Oskar"
36,37,1,3,"Mamee, Mr. Hanna"
37,38,0,3,"Cann, Mr. Ernest Charles"
38,39,0,3,"Vander Planke, Miss. Augusta Maria"
39,40,1,3,"Nicola-Yarred, Miss. Jamila"
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)"
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ..."
42,43,0,3,"Kraeff, Mr. Theodor"
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree"
44,45,1,3,"Devaney, Miss. Margaret Delia"
45,46,0,3,"Rogers, Mr. William John"
46,47,0,3,"Lennon, Mr. Denis"
47,48,1,3,"O'Driscoll, Miss. Bridget"
48,49,0,3,"Samaan, Mr. Youssef"
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)"
50,51,0,3,"Panula, Master. Juha Niilo"
51,52,0,3,"Nosworthy, Mr. Richard Cater"
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)"
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin..."
54,55,0,1,"Ostby, Mr. Engelhart Cornelius"
55,56,1,1,"Woolner, Mr. Hugh"
56,57,1,2,"Rugg, Miss. Emily"
57,58,0,3,"Novel, Mr. Mansouer"
58,59,1,2,"West, Miss. Constance Mirium"
59,60,0,3,"Goodwin, Master. William Frederick"
60,61,0,3,"Sirayanian, Mr. Orsen"
61,62,1,1,"Icard, Miss. Amelie"
62,63,0,1,"Harris, Mr. Henry Birkhardt"
63,64,0,3,"Skoog, Master. Harald"
64,65,0,1,"Stewart, Mr. Albert A"
65,66,1,3,"Moubarek, Master. Gerios"
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)"
67,68,0,3,"Crease, Mr. Ernest James"
68,69,1,3,"Andersson, Miss. Erna Alexandra"
69,70,0,3,"Kink, Mr. Vincenz"
70,71,0,2,"Jenkin, Mr. Stephen Curnow"
71,72,0,3,"Goodwin, Miss. Lillian Amy"
72,73,0,2,"Hood, Mr. Ambrose Jr"
73,74,0,3,"Chronopoulos, Mr. Apostolos"
74,75,1,3,"Bing, Mr. Lee"
75,76,0,3,"Moen, Mr. Sigurd Hansen"
76,77,0,3,"Staneff, Mr. Ivan"
77,78,0,3,"Moutal, Mr. Rahamin Haim"
78,79,1,2,"Caldwell, Master. Alden Gates"
79,80,1,3,"Dowdell, Miss. Elizabeth"
80,81,0,3,"Waelens, Mr. Achille"
81,82,1,3,"Sheerlinck, Mr. Jan Baptist"
82,83,1,3,"McDermott, Miss. Brigdet Delia"
83,84,0,1,"Carrau, Mr. Francisco M"
84,85,1,2,"Ilett, Miss. Bertha"
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu..."
86,87,0,3,"Ford, Mr. William Neal"
87,88,0,3,"Slocovski, Mr. Selman Francis"
88,89,1,1,"Fortune, Miss. Mabel Helen"
89,90,0,3,"Celotti, Mr. Francesco"
90,91,0,3,"Christmann, Mr. Emil"
91,92,0,3,"Andreasson, Mr. Paul Edvin"
92,93,0,1,"Chaffee, Mr. Herbert Fuller"
93,94,0,3,"Dean, Mr. Bertram Frank"
94,95,0,3,"Coxon, Mr. Daniel"
95,96,0,3,"Shorney, Mr. Charles Joseph"
96,97,0,1,"Goldschmidt, Mr. George B"
97,98,1,1,"Greenfield, Mr. William Bertram"
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)"
99,100,0,2,"Kantor, Mr. Sinai"
100,101,0,3,"Petranec, Miss. Matilda"
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")"
102,103,0,1,"White, Mr. Richard Frasar"
103,104,0,3,"Johansson, Mr. Gustaf Joel"
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm"
105,106,0,3,"Mionoff, Mr. Stoytcho"
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine"
107,108,1,3,"Moss, Mr. Albert Johan"
108,109,0,3,"Rekic, Mr. Tido"
109,110,1,3,"Moran, Miss. Bertha"
110,111,0,1,"Porter, Mr. Walter Chamberlain"
111,112,0,3,"Zabour, Miss. Hileni"
112,113,0,3,"Barton, Mr. David John"
113,114,0,3,"Jussila, Miss. Katriina"
114,115,0,3,"Attalah, Miss. Malake"
115,116,0,3,"Pekoniemi, Mr. Edvard"
116,117,0,3,"Connors, Mr. Patrick"
117,118,0,2,"Turpin, Mr. William John Robert"
118,119,0,1,"Baxter, Mr. Quigg Edmond"
119,120,0,3,"Andersson, Miss. Ellis Anna Maria"
120,121,0,2,"Hickman, Mr. Stanley George"
121,122,0,3,"Moore, Mr. Leonard Charles"
122,123,0,2,"Nasser, Mr. Nicholas"
123,124,1,2,"Webber, Miss. Susan"
124,125,0,1,"White, Mr. Percival Wayland"
125,126,1,3,"Nicola-Yarred, Master. Elias"
126,127,0,3,"McMahon, Mr. Martin"
127,128,1,3,"Madsen, Mr. Fridtjof Arne"
128,129,1,3,"Peter, Miss. Anna"
129,130,0,3,"Ekstrom, Mr. Johan"
130,131,0,3,"Drazenoic, Mr. Jozef"
131,132,0,3,"Coelho, Mr. Domingos Fernandeo"
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)"
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)"
134,135,0,2,"Sobey, Mr. Samuel James Hayden"
135,136,0,2,"Richard, Mr. Emile"
136,137,1,1,"Newsom, Miss. Helen Monypeny"
137,138,0,1,"Futrelle, Mr. Jacques Heath"
138,139,0,3,"Osen, Mr. Olaf Elon"
139,140,0,1,"Giglio, Mr. Victor"
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)"
141,142,1,3,"Nysten, Miss. Anna Sofia"
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ..."
143,144,0,3,"Burke, Mr. Jeremiah"
144,145,0,2,"Andrew, Mr. Edgardo Samuel"
145,146,0,2,"Nicholls, Mr. Joseph Charles"
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")"
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby"""
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")"
149,150,0,2,"Byles, Rev. Thomas Roussel Davids"
150,151,0,2,"Bateman, Rev. Robert James"
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)"
152,153,0,3,"Meo, Mr. Alfonzo"
153,154,0,3,"van Billiard, Mr. Austin Blyler"
154,155,0,3,"Olsen, Mr. Ole Martin"
155,156,0,1,"Williams, Mr. Charles Duane"
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie"""
157,158,0,3,"Corn, Mr. Harry"
158,159,0,3,"Smiljanic, Mr. Mile"
159,160,0,3,"Sage, Master. Thomas Henry"
160,161,0,3,"Cribb, Mr. John Hatfield"
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi..."
162,163,0,3,"Bengtsson, Mr. John Viktor"
163,164,0,3,"Calic, Mr. Jovo"
164,165,0,3,"Panula, Master. Eino Viljami"
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie"""
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)"
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)"
168,169,0,1,"Baumann, Mr. John D"
169,170,0,3,"Ling, Mr. Lee"
170,171,0,1,"Van der hoef, Mr. Wyckoff"
171,172,0,3,"Rice, Master. Arthur"
172,173,1,3,"Johnson, Miss. Eleanor Ileen"
173,174,0,3,"Sivola, Mr. Antti Wilhelm"
174,175,0,1,"Smith, Mr. James Clinch"
175,176,0,3,"Klasen, Mr. Klas Albin"
176,177,0,3,"Lefebre, Master. Henry Forbes"
177,178,0,1,"Isham, Miss. Ann Elizabeth"
178,179,0,2,"Hale, Mr. Reginald"
179,180,0,3,"Leonard, Mr. Lionel"
180,181,0,3,"Sage, Miss. Constance Gladys"
181,182,0,2,"Pernot, Mr. Rene"
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo"
183,184,1,2,"Becker, Master. Richard F"
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen"
185,186,0,1,"Rood, Mr. Hugh Roscoe"
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"
188,189,0,3,"Bourke, Mr. John"
189,190,0,3,"Turcin, Mr. Stjepan"
190,191,1,2,"Pinsky, Mrs. (Rosa)"
191,192,0,2,"Carbines, Mr. William"
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine"
193,194,1,2,"Navratil, Master. Michel M"
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)"
195,196,1,1,"Lurette, Miss. Elise"
196,197,0,3,"Mernagh, Mr. Robert"
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas"
198,199,1,3,"Madigan, Miss. Margaret ""Maggie"""
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")"
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel"
201,202,0,3,"Sage, Mr. Frederick"
202,203,0,3,"Johanson, Mr. Jakob Alfred"
203,204,0,3,"Youseff, Mr. Gerious"
204,205,1,3,"Cohen, Mr. Gurshon ""Gus"""
205,206,0,3,"Strom, Miss. Telma Matilda"
206,207,0,3,"Backstrom, Mr. Karl Alfred"
207,208,1,3,"Albimona, Mr. Nassef Cassem"
208,209,1,3,"Carr, Miss. Helen ""Ellen"""
209,210,1,1,"Blank, Mr. Henry"
210,211,0,3,"Ali, Mr. Ahmed"
211,212,1,2,"Cameron, Miss. Clear Annie"
212,213,0,3,"Perkin, Mr. John Henry"
213,214,0,2,"Givard, Mr. Hans Kristensen"
214,215,0,3,"Kiernan, Mr. Philip"
215,216,1,1,"Newell, Miss. Madeleine"
216,217,1,3,"Honkanen, Miss. Eliina"
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel"
218,219,1,1,"Bazzani, Miss. Albina"
219,220,0,2,"Harris, Mr. Walter"
220,221,1,3,"Sunderland, Mr. Victor Francis"
221,222,0,2,"Bracken, Mr. James H"
222,223,0,3,"Green, Mr. George Henry"
223,224,0,3,"Nenkoff, Mr. Christo"
224,225,1,1,"Hoyt, Mr. Frederick Maxfield"
225,226,0,3,"Berglund, Mr. Karl Ivar Sven"
226,227,1,2,"Mellors, Mr. William John"
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")"
228,229,0,2,"Fahlstrom, Mr. Arne Jonas"
229,230,0,3,"Lefebre, Miss. Mathilde"
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)"
231,232,0,3,"Larsson, Mr. Bengt Edvin"
232,233,0,2,"Sjostedt, Mr. Ernst Adolf"
233,234,1,3,"Asplund, Miss. Lillian Gertrud"
234,235,0,2,"Leyson, Mr. Robert William Norman"
235,236,0,3,"Harknett, Miss. Alice Phoebe"
236,237,0,2,"Hold, Mr. Stephen"
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie"""
238,239,0,2,"Pengelly, Mr. Frederick William"
239,240,0,2,"Hunt, Mr. George Henry"
240,241,0,3,"Zabour, Miss. Thamine"
241,242,1,3,"Murphy, Miss. Katherine ""Kate"""
242,243,0,2,"Coleridge, Mr. Reginald Charles"
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri"
244,245,0,3,"Attalah, Mr. Sleiman"
245,246,0,1,"Minahan, Dr. William Edward"
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria"
247,248,1,2,"Hamalainen, Mrs. William (Anna)"
248,249,1,1,"Beckwith, Mr. Richard Leonard"
249,250,0,2,"Carter, Rev. Ernest Courtenay"
250,251,0,3,"Reed, Mr. James George"
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)"
252,253,0,1,"Stead, Mr. William Thomas"
253,254,0,3,"Lobb, Mr. William Arthur"
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)"
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)"
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle"
257,258,1,1,"Cherry, Miss. Gladys"
258,259,1,1,"Ward, Miss. Anna"
259,260,1,2,"Parrish, Mrs. (Lutie Davis)"
260,261,0,3,"Smith, Mr. Thomas"
261,262,1,3,"Asplund, Master. Edvin Rojj Felix"
262,263,0,1,"Taussig, Mr. Emil"
263,264,0,1,"Harrison, Mr. William"
264,265,0,3,"Henry, Miss. Delia"
265,266,0,2,"Reeves, Mr. David"
266,267,0,3,"Panula, Mr. Ernesti Arvid"
267,268,1,3,"Persson, Mr. Ernst Ulrik"
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)"
269,270,1,1,"Bissette, Miss. Amelia"
270,271,0,1,"Cairns, Mr. Alexander"
271,272,1,3,"Tornquist, Mr. William Henry"
272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)"
273,274,0,1,"Natsch, Mr. Charles H"
274,275,1,3,"Healy, Miss. Hanora ""Nora"""
275,276,1,1,"Andrews, Miss. Kornelia Theodosia"
276,277,0,3,"Lindblom, Miss. Augusta Charlotta"
277,278,0,2,"Parkes, Mr. Francis ""Frank"""
278,279,0,3,"Rice, Master. Eric"
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)"
280,281,0,3,"Duane, Mr. Frank"
281,282,0,3,"Olsson, Mr. Nils Johan Goransson"
282,283,0,3,"de Pelsmaeker, Mr. Alfons"
283,284,1,3,"Dorking, Mr. Edward Arthur"
284,285,0,1,"Smith, Mr. Richard William"
285,286,0,3,"Stankovic, Mr. Ivan"
286,287,1,3,"de Mulder, Mr. Theodore"
287,288,0,3,"Naidenoff, Mr. Penko"
288,289,1,2,"Hosono, Mr. Masabumi"
289,290,1,3,"Connolly, Miss. Kate"
290,291,1,1,"Barber, Miss. Ellen ""Nellie"""
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)"
292,293,0,2,"Levy, Mr. Rene Jacques"
293,294,0,3,"Haas, Miss. Aloisia"
294,295,0,3,"Mineff, Mr. Ivan"
295,296,0,1,"Lewy, Mr. Ervin G"
296,297,0,3,"Hanna, Mr. Mansour"
297,298,0,1,"Allison, Miss. Helen Loraine"
298,299,1,1,"Saalfeld, Mr. Adolphe"
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)"
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate"""
301,302,1,3,"McCoy, Mr. Bernard"
302,303,0,3,"Johnson, Mr. William Cahoone Jr"
303,304,1,2,"Keane, Miss. Nora A"
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry"""
305,306,1,1,"Allison, Master. Hudson Trevor"
306,307,1,1,"Fleming, Miss. Margaret"
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M..."
308,309,0,2,"Abelson, Mr. Samuel"
309,310,1,1,"Francatelli, Miss. Laura Mabel"
310,311,1,1,"Hays, Miss. Margaret Bechstein"
311,312,1,1,"Ryerson, Miss. Emily Borie"
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)"
313,314,0,3,"Hendekovic, Mr. Ignjac"
314,315,0,2,"Hart, Mr. Benjamin"
315,316,1,3,"Nilsson, Miss. Helmina Josefina"
316,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)"
317,318,0,2,"Moraweck, Dr. Ernest"
318,319,1,1,"Wick, Miss. Mary Natalie"
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn..."
320,321,0,3,"Dennis, Mr. Samuel"
321,322,0,3,"Danoff, Mr. Yoto"
322,323,1,2,"Slayter, Miss. Hilda Mary"
323,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb..."
324,325,0,3,"Sage, Mr. George John Jr"
325,326,1,1,"Young, Miss. Marie Grice"
326,327,0,3,"Nysveen, Mr. Johan Hansen"
327,328,1,2,"Ball, Mrs. (Ada E Hall)"
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)"
329,330,1,1,"Hippach, Miss. Jean Gertrude"
330,331,1,3,"McCoy, Miss. Agnes"
331,332,0,1,"Partner, Mr. Austen"
332,333,0,1,"Graham, Mr. George Edward"
333,334,0,3,"Vander Planke, Mr. Leo Edmondus"
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei..."
335,336,0,3,"Denkoff, Mr. Mitto"
336,337,0,1,"Pears, Mr. Thomas Clinton"
337,338,1,1,"Burns, Miss. Elizabeth Margaret"
338,339,1,3,"Dahl, Mr. Karl Edwart"
339,340,0,1,"Blackwell, Mr. Stephen Weart"
340,341,1,2,"Navratil, Master. Edmond Roger"
341,342,1,1,"Fortune, Miss. Alice Elizabeth"
342,343,0,2,"Collander, Mr. Erik Gustaf"
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington"
344,345,0,2,"Fox, Mr. Stanley Hubert"
345,346,1,2,"Brown, Miss. Amelia ""Mildred"""
346,347,1,2,"Smith, Miss. Marion Elsie"
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)"
348,349,1,3,"Coutts, Master. William Loch ""William"""
349,350,0,3,"Dimic, Mr. Jovan"
350,351,0,3,"Odahl, Mr. Nils Martin"
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows"
352,353,0,3,"Elias, Mr. Tannous"
353,354,0,3,"Arnold-Franchi, Mr. Josef"
354,355,0,3,"Yousif, Mr. Wazli"
355,356,0,3,"Vanden Steen, Mr. Leo Peter"
356,357,1,1,"Bowerman, Miss. Elsie Edith"
357,358,0,2,"Funk, Miss. Annie Clemmer"
358,359,1,3,"McGovern, Miss. Mary"
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie"""
360,361,0,3,"Skoog, Mr. Wilhelm"
361,362,0,2,"del Carlo, Mr. Sebastiano"
362,363,0,3,"Barbara, Mrs. (Catherine David)"
363,364,0,3,"Asim, Mr. Adola"
364,365,0,3,"O'Brien, Mr. Thomas"
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin"
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)"
367,368,1,3,"Moussa, Mrs. (Mantoura Boulos)"
368,369,1,3,"Jermyn, Miss. Annie"
369,370,1,1,"Aubart, Mme. Leontine Pauline"
370,371,1,1,"Harder, Mr. George Achilles"
371,372,0,3,"Wiklund, Mr. Jakob Alfred"
372,373,0,3,"Beavan, Mr. William Thomas"
373,374,0,1,"Ringhini, Mr. Sante"
374,375,0,3,"Palsson, Miss. Stina Viola"
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)"
376,377,1,3,"Landergren, Miss. Aurora Adelia"
377,378,0,1,"Widener, Mr. Harry Elkins"
378,379,0,3,"Betros, Mr. Tannous"
379,380,0,3,"Gustafsson, Mr. Karl Gideon"
380,381,1,1,"Bidois, Miss. Rosalie"
381,382,1,3,"Nakid, Miss. Maria (""Mary"")"
382,383,0,3,"Tikkanen, Mr. Juho"
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To..."
384,385,0,3,"Plotcharsky, Mr. Vasil"
385,386,0,2,"Davies, Mr. Charles Henry"
386,387,0,3,"Goodwin, Master. Sidney Leonard"
387,388,1,2,"Buss, Miss. Kate"
388,389,0,3,"Sadlier, Mr. Matthew"
389,390,1,2,"Lehmann, Miss. Bertha"
390,391,1,1,"Carter, Mr. William Ernest"
391,392,1,3,"Jansson, Mr. Carl Olof"
392,393,0,3,"Gustafsson, Mr. Johan Birger"
393,394,1,1,"Newell, Miss. Marjorie"
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt..."
395,396,0,3,"Johansson, Mr. Erik"
396,397,0,3,"Olsson, Miss. Elina"
397,398,0,2,"McKane, Mr. Peter David"
398,399,0,2,"Pain, Dr. Alfred"
399,400,1,2,"Trout, Mrs. William H (Jessie L)"
400,401,1,3,"Niskanen, Mr. Juha"
401,402,0,3,"Adams, Mr. John"
402,403,0,3,"Jussila, Miss. Mari Aina"
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari"
404,405,0,3,"Oreskovic, Miss. Marija"
405,406,0,2,"Gale, Mr. Shadrach"
406,407,0,3,"Widegren, Mr. Carl/Charles Peter"
407,408,1,2,"Richards, Master. William Rowe"
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen"
409,410,0,3,"Lefebre, Miss. Ida"
410,411,0,3,"Sdycoff, Mr. Todor"
411,412,0,3,"Hart, Mr. Henry"
412,413,1,1,"Minahan, Miss. Daisy E"
413,414,0,2,"Cunningham, Mr. Alfred Fleming"
414,415,1,3,"Sundman, Mr. Johan Julian"
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)"
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)"
417,418,1,2,"Silven, Miss. Lyyli Karoliina"
418,419,0,2,"Matthews, Mr. William John"
419,420,0,3,"Van Impe, Miss. Catharina"
420,421,0,3,"Gheorgheff, Mr. Stanio"
421,422,0,3,"Charters, Mr. David"
422,423,0,3,"Zimmerman, Mr. Leo"
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ..."
424,425,0,3,"Rosblom, Mr. Viktor Richard"
425,426,0,3,"Wiseman, Mr. Phillippe"
426,427,1,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)"
427,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis..."
428,429,0,3,"Flynn, Mr. James"
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)"
430,431,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan"
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)"
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ..."
433,434,0,3,"Kallio, Mr. Nikolai Erland"
434,435,0,1,"Silvey, Mr. William Baird"
435,436,1,1,"Carter, Miss. Lucile Polk"
436,437,0,3,"Ford, Miss. Doolina Margaret ""Daisy"""
437,438,1,2,"Richards, Mrs. Sidney (Emily Hocking)"
438,439,0,1,"Fortune, Mr. Mark"

In [9]:
text_right_up

,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,female,38.00,1,0,PC 17599,71.2833,C85,C
2,female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,female,35.00,1,0,113803,53.1000,C123,S
4,male,35.00,0,0,373450,8.0500,NaN,S
5,male,NaN,0,0,330877,8.4583,NaN,Q
6,male,54.00,0,0,17463,51.8625,E46,S
7,male,2.00,3,1,349909,21.0750,NaN,S
8,female,27.00,0,2,347742,11.1333,NaN,S
9,female,14.00,1,0,237736,30.0708,NaN,C
10,female,4.00,1,1,PP 9549,16.7000,G6,S
11,female,58.00,0,0,113783,26.5500,C103,S
12,male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,male,39.00,1,5,347082,31.2750,NaN,S
14,female,14.00,0,0,350406,7.8542,NaN,S
15,female,55.00,0,0,248706,16.0000,NaN,S
16,male,2.00,4,1,382652,29.1250,NaN,Q
17,male,NaN,0,0,244373,13.0000,NaN,S
18,female,31.00,1,0,345763,18.0000,NaN,S
19,female,NaN,0,0,2649,7.2250,NaN,C
20,male,35.00,0,0,239865,26.0000,NaN,S
21,male,34.00,0,0,248698,13.0000,D56,S
22,female,15.00,0,0,330923,8.0292,NaN,Q
23,male,28.00,0,0,113788,35.5000,A6,S
24,female,8.00,3,1,349909,21.0750,NaN,S
25,female,38.00,1,5,347077,31.3875,NaN,S
26,male,NaN,0,0,2631,7.2250,NaN,C
27,male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,female,NaN,0,0,330959,7.8792,NaN,Q
29,male,NaN,0,0,349216,7.8958,NaN,S
30,male,40.00,0,0,PC 17601,27.7208,NaN,C
31,female,NaN,1,0,PC 17569,146.5208,B78,C
32,female,NaN,0,0,335677,7.7500,NaN,Q
33,male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,male,28.00,1,0,PC 17604,82.1708,NaN,C
35,male,42.00,1,0,113789,52.0000,NaN,S
36,male,NaN,0,0,2677,7.2292,NaN,C
37,male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,female,18.00,2,0,345764,18.0000,NaN,S
39,female,14.00,1,0,2651,11.2417,NaN,C
40,female,40.00,1,0,7546,9.4750,NaN,S
41,female,27.00,1,0,11668,21.0000,NaN,S
42,male,NaN,0,0,349253,7.8958,NaN,C
43,female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,female,19.00,0,0,330958,7.8792,NaN,Q
45,male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,male,NaN,1,0,370371,15.5000,NaN,Q
47,female,NaN,0,0,14311,7.7500,NaN,Q
48,male,NaN,2,0,2662,21.6792,NaN,C
49,female,18.00,1,0,349237,17.8000,NaN,S
50,male,7.00,4,1,3101295,39.6875,NaN,S
51,male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,female,49.00,1,0,PC 17572,76.7292,D33,C
53,female,29.00,1,0,2926,26.0000,NaN,S
54,male,65.00,0,1,113509,61.9792,B30,C
55,male,NaN,0,0,19947,35.5000,C52,S
56,female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,male,28.50,0,0,2697,7.2292,NaN,C
58,female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,male,11.00,5,2,CA 2144,46.9000,NaN,S
60,male,22.00,0,0,2669,7.2292,NaN,C
61,female,38.00,0,0,113572,80.0000,B28,NaN
62,male,45.00,1,0,36973,83.4750,C83,S
63,male,4.00,3,2,347088,27.9000,NaN,S
64,male,NaN,0,0,PC 17605,27.7208,NaN,C
65,male,NaN,1,1,2661,15.2458,NaN,C
66,female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,female,17.00,4,2,3101281,7.9250,NaN,S
69,male,26.00,2,0,315151,8.6625,NaN,S
70,male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,female,16.00,5,2,CA 2144,46.9000,NaN,S
72,male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,male,26.00,1,0,2680,14.4542,NaN,C
74,male,32.00,0,0,1601,56.4958,NaN,S
75,male,25.00,0,0,348123,7.6500,F G73,S
76,male,NaN,0,0,349208,7.8958,NaN,S
77,male,NaN,0,0,374746,8.0500,NaN,S
78,male,0.83,0,2,248738,29.0000,NaN,S
79,female,30.00,0,0,364516,12.4750,NaN,S
80,male,22.00,0,0,345767,9.0000,NaN,S
81,male,29.00,0,0,345779,9.5000,NaN,S
82,female,NaN,0,0,330932,7.7875,NaN,Q
83,male,28.00,0,0,113059,47.1000,NaN,S
84,female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,female,33.00,3,0,3101278,15.8500,NaN,S
86,male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,male,24.00,0,0,343275,8.0500,NaN,S
90,male,29.00,0,0,343276,8.0500,NaN,S
91,male,20.00,0,0,347466,7.8542,NaN,S
92,male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,male,59.00,0,0,364500,7.2500,NaN,S
95,male,NaN,0,0,374910,8.0500,NaN,S
96,male,71.00,0,0,PC 17754,34.6542,A5,C
97,male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,female,34.00,0,1,231919,23.0000,NaN,S
99,male,34.00,1,0,244367,26.0000,NaN,S
100,female,28.00,0,0,349245,7.8958,NaN,S
101,male,NaN,0,0,349215,7.8958,NaN,S
102,male,21.00,0,1,35281,77.2875,D26,S
103,male,33.00,0,0,7540,8.6542,NaN,S
104,male,37.00,2,0,3101276,7.9250,NaN,S
105,male,28.00,0,0,349207,7.8958,NaN,S
106,female,21.00,0,0,343120,7.6500,NaN,S
107,male,NaN,0,0,312991,7.7750,NaN,S
108,male,38.00,0,0,349249,7.8958,NaN,S
109,female,NaN,1,0,371110,24.1500,NaN,Q
110,male,47.00,0,0,110465,52.0000,C110,S
111,female,14.50,1,0,2665,14.4542,NaN,C
112,male,22.00,0,0,324669,8.0500,NaN,S
113,female,20.00,1,0,4136,9.8250,NaN,S
114,female,17.00,0,0,2627,14.4583,NaN,C
115,male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,male,70.50,0,0,370369,7.7500,NaN,Q
117,male,29.00,1,0,11668,21.0000,NaN,S
118,male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,female,2.00,4,2,347082,31.2750,NaN,S
120,male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,male,32.50,1,0,237736,30.0708,NaN,C
123,female,32.50,0,0,27267,13.0000,E101,S
124,male,54.00,0,1,35281,77.2875,D26,S
125,male,12.00,1,0,2651,11.2417,NaN,C
126,male,NaN,0,0,370372,7.7500,NaN,Q
127,male,24.00,0,0,C 17369,7.1417,NaN,S
128,female,NaN,1,1,2668,22.3583,F E69,C
129,male,45.00,0,0,347061,6.9750,NaN,S
130,male,33.00,0,0,349241,7.8958,NaN,C
131,male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,female,29.00,1,0,228414,26.0000,NaN,S
134,male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,female,19.00,0,2,11752,26.2833,D47,S
137,male,37.00,1,0,113803,53.1000,C123,S
138,male,16.00,0,0,7534,9.2167,NaN,S
139,male,24.00,0,0,PC 17593,79.2000,B86,C
140,female,NaN,0,2,2678,15.2458,NaN,C
141,female,22.00,0,0,347081,7.7500,NaN,S
142,female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,male,19.00,0,0,365222,6.7500,NaN,Q
144,male,18.00,0,0,231945,11.5000,NaN,S
145,male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,male,27.00,0,0,350043,7.7958,NaN,S
147,female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,male,36.50,0,2,230080,26.0000,F2,S
149,male,42.00,0,0,244310,13.0000,NaN,S
150,male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,female,22.00,1,0,113776,66.6000,C2,S
152,male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,male,51.00,0,1,PC 17597,61.3792,NaN,C
156,female,16.00,0,0,35851,7.7333,NaN,Q
157,male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,male,NaN,0,0,315037,8.6625,NaN,S
159,male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,male,44.00,0,1,371362,16.1000,NaN,S
161,female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,male,26.00,0,0,347068,7.7750,NaN,S
163,male,17.00,0,0,315093,8.6625,NaN,S
164,male,1.00,4,1,3101295,39.6875,NaN,S
165,male,9.00,0,2,363291,20.5250,NaN,S
166,female,NaN,0,1,113505,55.0000,E33,S
167,female,45.00,1,4,347088,27.9000,NaN,S
168,male,NaN,0,0,PC 17318,25.9250,NaN,S
169,male,28.00,0,0,1601,56.4958,NaN,S
170,male,61.00,0,0,111240,33.5000,B19,S
171,male,4.00,4,1,382652,29.1250,NaN,Q
172,female,1.00,1,1,347742,11.1333,NaN,S
173,male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,male,56.00,0,0,17764,30.6958,A7,C
175,male,18.00,1,1,350404,7.8542,NaN,S
176,male,NaN,3,1,4133,25.4667,NaN,S
177,female,50.00,0,0,PC 17595,28.7125,C49,C
178,male,30.00,0,0,250653,13.0000,NaN,S
179,male,36.00,0,0,LINE,0.0000,NaN,S
180,female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,male,9.00,4,2,347077,31.3875,NaN,S
183,male,1.00,2,1,230136,39.0000,F4,S
184,female,4.00,0,2,315153,22.0250,NaN,S
185,male,NaN,0,0,113767,50.0000,A32,S
186,female,NaN,1,0,370365,15.5000,NaN,Q
187,male,45.00,0,0,111428,26.5500,NaN,S
188,male,40.00,1,1,364849,15.5000,NaN,Q
189,male,36.00,0,0,349247,7.8958,NaN,S
190,female,32.00,0,0,234604,13.0000,NaN,S
191,male,19.00,0,0,28424,13.0000,NaN,S
192,female,19.00,1,0,350046,7.8542,NaN,S
193,male,3.00,1,1,230080,26.0000,F2,S
194,female,44.00,0,0,PC 17610,27.7208,B4,C
195,female,58.00,0,0,PC 17569,146.5208,B80,C
196,male,NaN,0,0,368703,7.7500,NaN,Q
197,male,42.00,0,1,4579,8.4042,NaN,S
198,female,NaN,0,0,370370,7.7500,NaN,Q
199,female,24.00,0,0,248747,13.0000,NaN,S
200,male,28.00,0,0,345770,9.5000,NaN,S
201,male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,male,34.00,0,0,3101264,6.4958,NaN,S
203,male,45.50,0,0,2628,7.2250,NaN,C
204,male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,female,2.00,0,1,347054,10.4625,G6,S
206,male,32.00,1,0,3101278,15.8500,NaN,S
207,male,26.00,0,0,2699,18.7875,NaN,C
208,female,16.00,0,0,367231,7.7500,NaN,Q
209,male,40.00,0,0,112277,31.0000,A31,C
210,male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,male,30.00,0,0,250646,13.0000,NaN,S
214,male,NaN,1,0,367229,7.7500,NaN,Q
215,female,31.00,1,0,35273,113.2750,D36,C
216,female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,male,42.00,1,0,243847,27.0000,NaN,S
218,female,32.00,0,0,11813,76.2917,D15,C
219,male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,male,27.00,0,0,220367,13.0000,NaN,S
222,male,51.00,0,0,21440,8.0500,NaN,S
223,male,NaN,0,0,349234,7.8958,NaN,S
224,male,38.00,1,0,19943,90.0000,C93,S
225,male,22.00,0,0,PP 4348,9.3500,NaN,S
226,male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,male,18.00,0,0,236171,13.0000,NaN,S
229,female,NaN,3,1,4133,25.4667,NaN,S
230,female,35.00,1,0,36973,83.4750,C83,S
231,male,29.00,0,0,347067,7.7750,NaN,S
232,male,59.00,0,0,237442,13.5000,NaN,S
233,female,5.00,4,2,347077,31.3875,NaN,S
234,male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,male,44.00,1,0,26707,26.0000,NaN,S
237,female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,male,19.00,0,0,28665,10.5000,NaN,S
239,male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,female,NaN,1,0,2665,14.4542,NaN,C
241,female,NaN,1,0,367230,15.5000,NaN,Q
242,male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,male,30.00,0,0,2694,7.2250,NaN,C
245,male,44.00,2,0,19928,90.0000,C78,Q
246,female,25.00,0,0,347071,7.7750,NaN,S
247,female,24.00,0,2,250649,14.5000,NaN,S
248,male,37.00,1,1,11751,52.5542,D35,S
249,male,54.00,1,0,244252,26.0000,NaN,S
250,male,NaN,0,0,362316,7.2500,NaN,S
251,female,29.00,1,1,347054,10.4625,G6,S
252,male,62.00,0,0,113514,26.5500,C87,S
253,male,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,female,41.00,0,2,370129,20.2125,NaN,S
255,female,29.00,0,2,2650,15.2458,NaN,C
256,female,NaN,0,0,PC 17585,79.2000,NaN,C
257,female,30.00,0,0,110152,86.5000,B77,S
258,female,35.00,0,0,PC 17755,512.3292,NaN,C
259,female,50.00,0,1,230433,26.0000,NaN,S
260,male,NaN,0,0,384461,7.7500,NaN,Q
261,male,3.00,4,2,347077,31.3875,NaN,S
262,male,52.00,1,1,110413,79.6500,E67,S
263,male,40.00,0,0,112059,0.0000,B94,S
264,female,NaN,0,0,382649,7.7500,NaN,Q
265,male,36.00,0,0,C.A. 17248,10.5000,NaN,S
266,male,16.00,4,1,3101295,39.6875,NaN,S
267,male,25.00,1,0,347083,7.7750,NaN,S
268,female,58.00,0,1,PC 17582,153.4625,C125,S
269,female,35.00,0,0,PC 17760,135.6333,C99,S
270,male,NaN,0,0,113798,31.0000,NaN,S
271,male,25.00,0,0,LINE,0.0000,NaN,S
272,female,41.00,0,1,250644,19.5000,NaN,S
273,male,37.00,0,1,PC 17596,29.7000,C118,C
274,female,NaN,0,0,370375,7.7500,NaN,Q
275,female,63.00,1,0,13502,77.9583,D7,S
276,female,45.00,0,0,347073,7.7500,NaN,S
277,male,NaN,0,0,239853,0.0000,NaN,S
278,male,7.00,4,1,382652,29.1250,NaN,Q
279,female,35.00,1,1,C.A. 2673,20.2500,NaN,S
280,male,65.00,0,0,336439,7.7500,NaN,Q
281,male,28.00,0,0,347464,7.8542,NaN,S
282,male,16.00,0,0,345778,9.5000,NaN,S
283,male,19.00,0,0,A/5. 10482,8.0500,NaN,S
284,male,NaN,0,0,113056,26.0000,A19,S
285,male,33.00,0,0,349239,8.6625,NaN,C
286,male,30.00,0,0,345774,9.5000,NaN,S
287,male,22.00,0,0,349206,7.8958,NaN,S
288,male,42.00,0,0,237798,13.0000,NaN,S
289,female,22.00,0,0,370373,7.7500,NaN,Q
290,female,26.00,0,0,19877,78.8500,NaN,S
291,female,19.00,1,0,11967,91.0792,B49,C
292,male,36.00,0,0,SC/Paris 2163,12.8750,D,C
293,female,24.00,0,0,349236,8.8500,NaN,S
294,male,24.00,0,0,349233,7.8958,NaN,S
295,male,NaN,0,0,PC 17612,27.7208,NaN,C
296,male,23.50,0,0,2693,7.2292,NaN,C
297,female,2.00,1,2,113781,151.5500,C22 C26,S
298,male,NaN,0,0,19988,30.5000,C106,S
299,female,50.00,0,1,PC 17558,247.5208,B58 B60,C
300,female,NaN,0,0,9234,7.7500,NaN,Q
301,male,NaN,2,0,367226,23.2500,NaN,Q
302,male,19.00,0,0,LINE,0.0000,NaN,S
303,female,NaN,0,0,226593,12.3500,E101,Q
304,male,NaN,0,0,A/5 2466,8.0500,NaN,S
305,male,0.92,1,2,113781,151.5500,C22 C26,S
306,female,NaN,0,0,17421,110.8833,NaN,C
307,female,17.00,1,0,PC 17758,108.9000,C65,C
308,male,30.00,1,0,P/PP 3381,24.0000,NaN,C
309,female,30.00,0,0,PC 17485,56.9292,E36,C
310,female,24.00,0,0,11767,83.1583,C54,C
311,female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
312,female,26.00,1,1,250651,26.0000,NaN,S
313,male,28.00,0,0,349243,7.8958,NaN,S
314,male,43.00,1,1,F.C.C. 13529,26.2500,NaN,S
315,female,26.00,0,0,347470,7.8542,NaN,S
316,female,24.00,1,0,244367,26.0000,NaN,S
317,male,54.00,0,0,29011,14.0000,NaN,S
318,female,31.00,0,2,36928,164.8667,C7,S
319,female,40.00,1,1,16966,134.5000,E34,C
320,male,22.00,0,0,A/5 21172,7.2500,NaN,S
321,male,27.00,0,0,349219,7.8958,NaN,S
322,female,30.00,0,0,234818,12.3500,NaN,Q
323,female,22.00,1,1,248738,29.0000,NaN,S
324,male,NaN,8,2,CA. 2343,69.5500,NaN,S
325,female,36.00,0,0,PC 17760,135.6333,C32,C
326,male,61.00,0,0,345364,6.2375,NaN,S
327,female,36.00,0,0,28551,13.0000,D,S
328,female,31.00,1,1,363291,20.5250,NaN,S
329,female,16.00,0,1,111361,57.9792,B18,C
330,female,NaN,2,0,367226,23.2500,NaN,Q
331,male,45.50,0,0,113043,28.5000,C124,S
332,male,38.00,0,1,PC 17582,153.4625,C91,S
333,male,16.00,2,0,345764,18.0000,NaN,S
334,female,NaN,1,0,PC 17611,133.6500,NaN,S
335,male,NaN,0,0,349225,7.8958,NaN,S
336,male,29.00,1,0,113776,66.6000,C2,S
337,female,41.00,0,0,16966,134.5000,E40,C
338,male,45.00,0,0,7598,8.0500,NaN,S
339,male,45.00,0,0,113784,35.5000,T,S
340,male,2.00,1,1,230080,26.0000,F2,S
341,female,24.00,3,2,19950,263.0000,C23 C25 C27,S
342,male,28.00,0,0,248740,13.0000,NaN,S
343,male,25.00,0,0,244361,13.0000,NaN,S
344,male,36.00,0,0,229236,13.0000,NaN,S
345,female,24.00,0,0,248733,13.0000,F33,S
346,female,40.00,0,0,31418,13.0000,NaN,S
347,female,NaN,1,0,386525,16.1000,NaN,S
348,male,3.00,1,1,C.A. 37671,15.9000,NaN,S
349,male,42.00,0,0,315088,8.6625,NaN,S
350,male,23.00,0,0,7267,9.2250,NaN,S
351,male,NaN,0,0,113510,35.0000,C128,S
352,male,15.00,1,1,2695,7.2292,NaN,C
353,male,25.00,1,0,349237,17.8000,NaN,S
354,male,NaN,0,0,2647,7.2250,NaN,C
355,male,28.00,0,0,345783,9.5000,NaN,S
356,female,22.00,0,1,113505,55.0000,E33,S
357,female,38.00,0,0,237671,13.0000,NaN,S
358,female,NaN,0,0,330931,7.8792,NaN,Q
359,female,NaN,0,0,330980,7.8792,NaN,Q
360,male,40.00,1,4,347088,27.9000,NaN,S
361,male,29.00,1,0,SC/PARIS 2167,27.7208,NaN,C
362,female,45.00,0,1,2691,14.4542,NaN,C
363,male,35.00,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
364,male,NaN,1,0,370365,15.5000,NaN,Q
365,male,30.00,0,0,C 7076,7.2500,NaN,S
366,female,60.00,1,0,110813,75.2500,D37,C
367,female,NaN,0,0,2626,7.2292,NaN,C
368,female,NaN,0,0,14313,7.7500,NaN,Q
369,female,24.00,0,0,PC 17477,69.3000,B35,C
370,male,25.00,1,0,11765,55.4417,E50,C
371,male,18.00,1,0,3101267,6.4958,NaN,S
372,male,19.00,0,0,323951,8.0500,NaN,S
373,male,22.00,0,0,PC 17760,135.6333,NaN,C
374,female,3.00,3,1,349909,21.0750,NaN,S
375,female,NaN,1,0,PC 17604,82.1708,NaN,C
376,female,22.00,0,0,C 7077,7.2500,NaN,S
377,male,27.00,0,2,113503,211.5000,C82,C
378,male,20.00,0,0,2648,4.0125,NaN,C
379,male,19.00,0,0,347069,7.7750,NaN,S
380,female,42.00,0,0,PC 17757,227.5250,NaN,C
381,female,1.00,0,2,2653,15.7417,NaN,C
382,male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
383,female,35.00,1,0,113789,52.0000,NaN,S
384,male,NaN,0,0,349227,7.8958,NaN,S
385,male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
386,male,1.00,5,2,CA 2144,46.9000,NaN,S
387,female,36.00,0,0,27849,13.0000,NaN,S
388,male,NaN,0,0,367655,7.7292,NaN,Q
389,female,17.00,0,0,SC 1748,12.0000,NaN,C
390,male,36.00,1,2,113760,120.0000,B96 B98,S
391,male,21.00,0,0,350034,7.7958,NaN,S
392,male,28.00,2,0,3101277,7.9250,NaN,S
393,female,23.00,1,0,35273,113.2750,D36,C
394,female,24.00,0,2,PP 9549,16.7000,G6,S
395,male,22.00,0,0,350052,7.7958,NaN,S
396,female,31.00,0,0,350407,7.8542,NaN,S
397,male,46.00,0,0,28403,26.0000,NaN,S
398,male,23.00,0,0,244278,10.5000,NaN,S
399,female,28.00,0,0,240929,12.6500,NaN,S
400,male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S
401,male,26.00,0,0,341826,8.0500,NaN,S
402,female,21.00,1,0,4137,9.8250,NaN,S
403,male,28.00,1,0,STON/O2. 3101279,15.8500,NaN,S
404,female,20.00,0,0,315096,8.6625,NaN,S
405,male,34.00,1,0,28664,21.0000,NaN,S
406,male,51.00,0,0,347064,7.7500,NaN,S
407,male,3.00,1,1,29106,18.7500,NaN,S
408,male,21.00,0,0,312992,7.7750,NaN,S
409,female,NaN,3,1,4133,25.4667,NaN,S
410,male,NaN,0,0,349222,7.8958,NaN,S
411,male,NaN,0,0,394140,6.8583,NaN,Q
412,female,33.00,1,0,19928,90.0000,C78,Q
413,male,NaN,0,0,239853,0.0000,NaN,S
414,male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S
415,female,NaN,0,0,343095,8.0500,NaN,S
416,female,34.00,1,1,28220,32.5000,NaN,S
417,female,18.00,0,2,250652,13.0000,NaN,S
418,male,30.00,0,0,28228,13.0000,NaN,S
419,female,10.00,0,2,345773,24.1500,NaN,S
420,male,NaN,0,0,349254,7.8958,NaN,C
421,male,21.00,0,0,A/5. 13032,7.7333,NaN,Q
422,male,29.00,0,0,315082,7.8750,NaN,S
423,female,28.00,1,1,347080,14.4000,NaN,S
424,male,18.00,1,1,370129,20.2125,NaN,S
425,male,NaN,0,0,A/4. 34244,7.2500,NaN,S
426,female,28.00,1,0,2003,26.0000,NaN,S
427,female,19.00,0,0,250655,26.0000,NaN,S
428,male,NaN,0,0,364851,7.7500,NaN,Q
429,male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
430,male,28.00,0,0,110564,26.5500,C52,S
431,female,NaN,1,0,376564,16.1000,NaN,S
432,female,42.00,1,0,SC/AH 3085,26.0000,NaN,S
433,male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
434,male,50.00,1,0,13507,55.9000,E44,S
435,female,14.00,1,2,113760,120.0000,B96 B98,S
436,female,21.00,2,2,W./C. 6608,34.3750,NaN,S
437,female,24.00,2,3,29106,18.7500,NaN,S
438,male,64.00,1,4,19950,263.0000,C23 C25 C27,S

In [8]:
result_up = pd.concat([text_left_up,text_right_up],axis=1)
result_up.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
result_up.shape

(439, 12)

In [11]:
list_down=[text_left_down,text_right_down]
result_down = pd.concat(list_down,axis=1)
result = pd.concat([result_up,result_down])
result.shape

(891, 12)

In [13]:
resul_up = text_left_up.join(text_right_up)
result_down = text_left_down.join(text_right_down)
result = result_up.append(result_down)
result.tail()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10924\4160961257.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result_up.append(result_down)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
447,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
448,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
449,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
450,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
451,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [14]:
result_up = pd.merge(text_left_up,text_right_up,left_index=True,right_index=True)     #这里的merge一般要有共同的列才能来拼接，如果要取消这个限制，就像这里用这两个变量为True.
result_down = pd.merge(text_left_down,text_right_down,left_index=True,right_index=True)
result = resul_up.append(result_down)
result.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10924\2576447027.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = resul_up.append(result_down)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
result.to_csv('result01.csv')

In [16]:
#stack函数   ：将数据变为Series数据
text = pd.read_csv('result.csv')
text.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S

In [17]:
unit_result=text.stack().head(20)
unit_result.head()

0  Unnamed: 0                           0
   PassengerId                          1
   Survived                             0
   Pclass                               3
   Name           Braund, Mr. Owen Harris
dtype: object

In [18]:
unit_result.to_csv('unit_result01.csv')

In [ ]:
#第二小节-------------------------------------------------------------------------------------------------------------------

In [1]:
import numpy as np
import pandas as pd

In [9]:
text = pd.read_csv('result.csv')

In [ ]:
#GroupBy机制其实就是一个分类的过程，主要是分类后的运算会比较方便

In [14]:
df  = text['Fare'].groupby(text['Sex'])
means = df.mean()
means

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

In [4]:
df.describe()

        count       mean        std   min        25%   50%    75%       max
Sex
female  314.0  44.479818  57.997698  6.75  12.071875  23.0  55.00  512.3292
male    577.0  25.523893  43.138263  0.00   7.895800  10.5  26.55  512.3292

In [5]:
df = text['Age'].groupby(text['Sex'])
df.describe()

        count       mean        std   min   25%   50%   75%   max
Sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [15]:
survived_sex =text.groupby('Sex')['Survived'].sum()

In [11]:
text.groupby('Pclass')['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [ ]:
#思考心得 :从上面的数据分析我们可以看到女性的平均票价和存活人数都比男性要高，同时第二客仓等级的存活人数比较少。

In [12]:
text.groupby('Sex').agg({'Fare': 'mean', 'Pclass': 'count'}).rename(columns=
                            {'Fare': 'mean_fare', 'Pclass': 'count_pclass'})

        mean_fare  count_pclass
Sex
female  44.479818           314
male    25.523893           577

In [13]:
text.groupby(['Pclass','Age'])['Fare'].mean().head()

Pclass  Age
1       0.92     151.5500
        2.00     151.5500
        4.00      81.8583
        11.00    120.0000
        14.00    120.0000
Name: Fare, dtype: float64

In [16]:
result = pd.merge(means,survived_sex,on='Sex')
result

             Fare  Survived
Sex
female  44.479818       233
male    25.523893       109

In [17]:
survived_age =text.groupby('Age')['Survived'].sum()

In [18]:
#不同年龄的存活人数
survived_age

Age
0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    0
70.50    0
71.00    0
74.00    0
80.00    1
Name: Survived, Length: 88, dtype: int64

In [19]:
max(survived_age)

15

In [20]:
#找出最大值的年龄段
survived_age[survived_age.values==survived_age.max()]

Age
24.0    15
Name: Survived, dtype: int64

In [21]:
sum1 =text['Survived'].sum()
sum1

342

In [22]:
rate= max(survived_age)/sum1
rate

0.043859649122807015

In [23]:
'最大存活率：{}'.format(rate)

'最大存活率：0.043859649122807015'

In [24]:
'最大存活率：{:.2%}'.format(rate)

'最大存活率：4.39%'